.active {
  text-decoration: underline;
  text-decoration-color: #1F1A70;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  font-weight: 600;
  color: #1F1A70;
  transition: all 0.3s ease;
  text-underline-offset: 6px;
  text-decoration: underline;
}

html[data-theme='dark'] .active {
  text-decoration-color: #1F1A70;
  color: #1F1A70;
  
}
